:root {
  --selection-y: 0px;
  --selection-x: 0px;
  --selection-width-offset: 35px;
  --selection-height-offset: 35px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid black;
  box-shadow: 0px 4px 3px 0px rgb(194, 194, 194);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.image-container {
  position: relative;
  padding: 20px;
  min-width: 60%;
  max-width: 70vw;
  height: 200vh;
  background-color: rgb(231, 214, 165);
}

.selection-square {
  position: absolute;
  z-index: 1;
  top: calc(var(--selection-y) - var(--selection-height-offset) - 10vh);
  left: calc(var(--selection-x) - var(--selection-width-offset));
  height: 70px;
  width: 70px;
  border: 4px dashed rgb(121, 153, 61);
  background-color: rgba(255, 255, 255, 0.4);
}

.popup {
  position: absolute;
  margin-left: 20px;
  left: 100%;
  top: -50%;
  width: 250px;
  background-color: rgb(119, 136, 182);
  list-style: none;
}

.popup:hover {
  cursor: pointer;
}

.character-name {
  font-size: 2rem;
  padding: 5px;
  border-bottom: 1px solid rgba(75, 77, 63, 0.705);
  text-align: center;
  letter-spacing: 6px;
}

.character-name:last-child {
  border-bottom: none;
}
